
.bg-image {
    background: url('../../assets/bg-3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: -moz-calc(100% - 64px);
    height: -webkit-calc(100% - 64px);
    height: calc(100% - 64px);

  }
  .description{
    grid-column: 1;
    color:#fff;
    font-size:1vw;
    font-weight:300;
    margin:0;
    line-height:1em;
    align-self: top;
    text-align: left;
    justify-self: left;
  }
  h1 {
    grid-column: 1;
    color:#fff;
    font-size:4vw;
    font-weight:900;
    margin:0;
    line-height:1em;
    align-self: center;
    text-align: left;
    justify-self: left;
  }
  .highlight {
    color:#80cbc4;
  }
  #big-button{
    grid-column: 1 / span 2;
    align-self: center;
    text-align: center;
    justify-self: center;
      width: 300px;
      height: 70px;
      font-size:2vw;
  }
  :host{
    overflow: hidden!important;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    display: grid;
  }
#rocket{
    grid-column: 2;
    width: 300px;
    align-self: center;
    justify-self: center;
}
#desc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 32px auto;
    max-width: 960px;
}
h2{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.5px;
    grid-column: 1 / span 3;
}
p{
    grid-column: 1 / span 3;
}
#activity-container{
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

}

#pour-les-projet{
    grid-column: 1;
}
#pour-les-ressources{
    grid-column: 2;
}
#pour-l-entite{
    grid-column: 3;
}
#footer{
    padding-right: 45%;
    padding-left: 45%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
#footer a{
    align-self: center;
    text-align: center;
    justify-self: center;
}
#github-logo{
    width: 20px;
}
/* Responsive Styles */
@media screen and (max-width: 767px) {
    .content {
        top: 50%;
        left: 50%;
        grid-auto-rows: 1fr;
    }
    h1{
        grid-column: 1;
        grid-row: 2;
        font-size:5vw;
        align-self: center;
        text-align: center;
        justify-self: center;
    }
    #rocket{
        grid-column: 1;
        grid-row:1
    }
    #big-button{
        grid-column: 1;
        width: 300px;
        height: 70px;
        font-size:5vw;
    }
    #rocket{
        width: 40%; height: auto;
    }
    #activity-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #pour-les-projet{
        grid-column: 1 / span 3;
    }
    #pour-les-ressources{
        grid-column: 1 / span 3;
    }
    #pour-l-entite{
        grid-column: 1 / span 3;
    }
  }
