.content {
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    min-height:calc(100vh - 200px);
}

.animated {
    animation: animation-name .3s ease-out forwards;
 }

@keyframes animation-name {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
