
.scrollDisabled {
    overflow: hidden;
}

.content {
  text-align:center;
  display:block;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
}


@media (max-width: 600px) {
  .content {
    width: 95%;
    overflow:scroll;
    margin:0;
    padding:0;
  }
}

.animated {
    animation: animation-name .3s ease-out forwards;
 }

@keyframes animation-name {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
