.navbar-spacer {
  flex: 1 1 auto;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  width: 960px;
  flex-direction: column;
  align-items: center;
}

h2{
  font-size: 40px;
	font-weight: 300;
	letter-spacing: -0.5px;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(20px, auto);
}

mat-vertical-stepper{
  grid-column: 1 / 5;
  grid-row: 1;
}

.percent{
  align-self: center;
  justify-self: center;
  grid-column: 5 / 5;
  grid-row: 1;
  font-size: 70px;
  font-weight: 300;
}

mat-card-actions{
  grid-column: 1 / 6;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.done-button{
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}