.navbar-spacer {
  flex: 1 1 auto;
}

#footer{
  padding-right: 45%;
  padding-left: 45%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}
#footer a{
  align-self: center;
  text-align: center;
  justify-self: center;
}
#github-logo{
  width: 20px;
}